/* style entire body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }
 
/* style paragraph_1 */
  .ph_1{
    font-weight: bold;
    color: rgb(147, 0, 0);
    font-size: 25px;
  }
/* style bold_text from p2 */
  .bold_text{
    font-weight: bold;
    text-decoration-style: double;
    color: rgb(236, 95, 95);
  }
/* loading */
  .loading {
     max-width: 50%;
     line-height: 1.5;
     font-size: 20px;
     font-weight: lighter;
     text-align: center;
  }
/* loading animation */
  .loading__anim {
    width: 50px;
    height: 50px;
    border:  7px solid rgb(236, 95, 95, 0.25);
    border-left-color:  rgb(147, 0, 0);
    border-top-color: rgb(147, 0, 0);
    border-radius: 50%;
    display: inline-block;
    animation: rotate 600ms infinite linear;
  }
/* rotation for the circle */
  @keyframes rotate {
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 180deg);
      transform: rotate3d(0, 0, 1, 360deg);
    }
  }